/*  Overall  */
@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }

    .top-text {
        height: 250px;
    }
}

/*  Top : Large Image  */
.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron h1 {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

/*  Main: Cards Block  */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card-text {
    margin-bottom: 1.5rem;
}

table {
    /*margin-left: 10%;
    margin-right: 10%;*/
}

tr {
    line-height: 1.0;
}

.like {
  color: LightPink;
}







