<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
    <footer th:fragment="footer" class="text-muted" id="footer" style="margin-top: 50px">
        <div class="container">
            <p class="float-right">
                <a class="btn btn-outline-info" href="#">Back to top</a>
            </p>
            <p>Album example is &copy; Bootstrap</p>
            <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            <p>&copy; 2017-2020 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
            <p>
                <span>Photo by
                <a href="https://unsplash.com/@fr3nks?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Daniel Frank</a> on
                <a href="https://unsplash.com/s/photos/ski-resort?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
                </span>
            </p>
            <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            <div>Icons made by <a href="" title="surang">surang</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </div>

        <script src="../assets/dist/js/bootstrap.bundle.min.js" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.bundle.min.js}"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../assets/js/jquery.slim.min.js" th:href="@{/webjars/jquery/3.5.1/jquery.slim.min.js}"><\/script>')</script>
    </footer>

</body>
</html>